<section class="aboutSection">

  <h2 class="aboutSection__title title">À propos</h2>

  <div class="aboutCard">
    <figure class="aboutCard__image">
      <img
        src="assets/images/us.png"
        alt="Nous"
        loading="lazy"
        decoding="async"
      />
    </figure>

    <div class="aboutCard__content">
      <h2 class="aboutCard__title title">À propos</h2>

      <p class="aboutCard__text texts">
        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
        when an unknown printer took a galley of type and scrambled it to make a type
        specimen book. Lorem Ipsum is simply dummy text of the printing and typesetting
        industry. Lorem Ipsum has been the industry's standard dummy text ever since the
        1500s, when an unknown printer took a galley of type and scrambled it to make a
        type specimen book.
      </p>

      <app-btn-contact-us></app-btn-contact-us>
    </div>
  </div>

</section>