<section class="aboutSection">

  <h2 class="aboutSection__title title">À propos</h2>

  <div class="aboutCard">
    <figure class="aboutCard__image">
      <img
        src="assets/images/us.png"
        alt="Nous"
        loading="lazy"
        decoding="async"
      />
    </figure>

    <div class="aboutCard__content">
      <h2 class="aboutCard__title title">Les visages derrière votre coloc </h2>

         <h3 class="aboutCard__subtitle subtitle">
        Enchantés ! Nous, c’est <strong>Laurence & Dominique </strong>
        </h3>
        <p class="aboutCard__text texts">
        Si nous nous sommes lancés dans l’aventure de la location, c’est avant tout parce qu’on est passés par là. Avec <strong>nos trois enfants</strong>, nous avons connu le parcours du combattant pour dénicher l’appartement idéal: les visites décevantes, les logements mal isolés ou les bureaux qui tiennent sur un timbre-poste... On s'est dit qu'il y avait mieux à faire! 
        </p>
        <h3 class="aboutCard__subtitle subtitle">Notre mission : Le confort "comme à la maison"</h3>
        <p class="aboutCard__text texts">
        Parce qu'on sait qu'il est difficile de se concentrer sur ses partiels quand on n'est pas bien installé, nous avons décidé de créer le lieu que nous aurions aimé trouver pour nos propres enfants.</p>
        <p class="aboutCard__text texts">
        Chaque détail a été pensé pour vous offrir <strong> un cadre de vie serein, moderne et ultra-fonctionnel</strong>. On ne vous loue pas juste une chambre, on vous met à disposition un cocon où il ne manque rien.
        </p>
      <h3 class="aboutCard__subtitle subtitle">Notre devise ?</h3>
        <p class="aboutCard__text texts">   
        <strong>"Occupez-vous de vos études, on s'occupe du reste !"</strong> On sait que votre temps est précieux (et vos soirées aussi !). Notre objectif est simple : faire en sorte que votre seule préoccupation soit de réussir votre année et de profiter de la vie en communauté. On gère la logistique, vous gérez votre avenir. </p>
        <p class="aboutCard__text texts">
        Au plaisir de vous accueillir chez vous ! </p>
        <p class="aboutCard__text texts">
        <strong>Laurence & Dominique</strong>

      </p>


      <app-btn-contact-us></app-btn-contact-us>
    </div>
  </div>

</section>